<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resep Masakan khas Indonesia</title>
  </head>
  <body>
    <h1>Resep Masakan Khas Indonesia</h1><hr>

    <ol>
      <li><a href="pallubasa.php">Pallu Basa</a></li>
      <li><a href="coto makassar.php">Coto Makassar</a></li>
      <li><a href="brekecek ikan.php">Brekecek Ikan</a></li>
      <li><a href="garang asem.php">Garang Asem</a></li>
      <li><a href="lontong sayur medan.php">Lontong Sayur Medan</a></li>
      <li><a href="mie gomak pedas.php">Mie Gomak Pedas</a></li>
      <li><a href="Rendang Daging Padang.php">Rendang Daging Padang</a></li>
      <li><a href="Sambal petai udang.php">Sambal Petai Udang</a></li>
      <li><a href="sate ayam madura.php">Sate Ayam Madura</a></li>
      <li><a href="ayam panggang bumbu merah.php">Ayam Panggang Bumbu Merah</a></li>
      <li><a href="nasi grombyang.php">Nasi Grombyang</a></li>
    </ol>

  </body>
</html>
